* {
    cursor: default;
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url("https://i.playground.ru/p/WB4bLVxcvk4ybIkIgz_PrQ.jpeg");
}

.footer {
    z-index: -1;
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 225, 255, 0.2);
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.footer img {
    padding-top: 10px;
    padding-left:10px;
    width: 35px;
    height: 35px;
}

#conmenuelem {
    transition: all ease-in-out 1s;
}

.clwnds {
    user-select: none;
    min-width: 400px;
    min-height: 400px;
}

.clwnds .window-body {
    user-select: none;
    min-width: 90%;
    min-height: 400px;
}
